/* making the main a 2-colum grid*/

main {
    display: grid;
    grid-template-columns: 1fr 1fr;   /*Two equal columns*/
    max-width: 736px;
    width: 100%;
    background-color: white;
    border-radius: 32px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.1);
    box-sizing:border-box;
    font-size: 18px;
    overflow: hidden;
    
}

.canvas-container {
    background-color: hsl(221, 100%, 96%);
    padding: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

body {
    display: flex;
    min-height: 100vh;
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: hsl(0, 0%, 100%);
}



ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.result {

    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: white;
    padding: 40px;
    border-radius: 30px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    

}

/* We named the right side of our class "summary" so this is what we will be editing and will put  .summary"*/
/* we use "." before class as a identifier*/
.summary {

    background-color: hsl(0, 0%, 100%);
    color: hsl(224, 30%, 27%);
    padding: 40px;
    border-radius: 10px;
    border: none;
}

button {
    background-color: rgb(39, 40, 58);
    color: white;
}

h1 {
    color: white;
}

    


    ul li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 16px;
        margin-bottom: 16px  /*adds space between each row*/

    }
        /*reaction*/

    .summary-reaction {
        background-color: hsla(0, 100%, 67%, 0.1);
        color: hsl(0, 100%, 67%);
        border: none;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        
    }

    /*memory*/

    .summary-memory {
        background-color: hsla(39, 100%, 56%, 0.1);
        color: hsl(39, 100%, 56%);
        border: none;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }
    
     /*verbal*/

    .summary-verbal {
        background-color: hsla(166, 100%, 37%, 0.1);
        color: hsl(166, 100%, 37%);
        border: none;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

     /*memory*/

    .summary-visual {
        background-color:  hsla(234, 85%, 45%, 0.1);
        color:  hsl(234, 65%, 52%);
        border: none;
        border-radius: 10px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    .btn-continue {
        background-color: hsl(224, 30%, 27%);
        color: hsl(0, 0%, 100%);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        width: 100%;
        font-size: 18px;
        border: none;
        border-radius: 10px;
        padding: 16px;
        /* Turns cursor into a clicking hand */
        cursor: pointer;
        transition: all 0.2s ease;

    }
    /* Hover effect: shifts color when the mouse moves over it */
    .btn-continue:hover {
        background-color: hsl(241, 81%, 54%);
  box-shadow: 0 10px 20px hsla(241, 81%, 54%, 0.3);

    }
        /* Click effect: button physically presses down when clicked */
    .btn-continue:active {
        transform: scale(0.97); 
    }

        /* Keyboard accessibility (tab navigation) */
    .btn-continue:focus-visible {
        outline: 3px solid hsl(241, 81%, 54%);
         outline-offset: 3px;
    }

    .score-circle {  
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background-color: hsla(256, 72%, 46%, 1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    }


    .score-total {
       font-size: 14px;
        color: hsla(241, 100%, 89%, 0.6);
        margin-top: 4px;

    }

    .score-number {
        font-size: 56px;
        font-weight: 800; 
        color: hsl(0, 0%, 100%);
        line-height: 1;
    }

    .result p {
        color:hsl(241, 100%, 89%);
        text-align: center;
        
    }


    .item-score {
        color: hsla(224, 30%, 27%, 0.5);

    }

    .item-title {
        display: flex;
        align-items: center;
        gap: 12px;
    }



    .user-score {
        color: hsl(224, 30%, 27%);
    }

    @media (max-width: 650px) {
  .canvas-container {
    padding: 0;
  }

  main {
    grid-template-columns: 1fr;
    border-radius: 0 0 30px 30px;
    max-width: 375px;
  }

  .result {
    border-radius: 0 0 30px 30px;
    padding: 30px 40px 40px;
  }
}